<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@192.168.209.130:1521/orclpdb1</property>
        <property name="hibernate.connection.username">hr</property>
        <property name="hibernate.connection.password">oracle_4U</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

        <mapping class="entity.Country" />
        <mapping class="entity.Department" />
        <mapping class="entity.Employee" />
        <mapping class="entity.Job" />
        <mapping class="entity.JobHistory" />
        <mapping class="entity.Location" />
        <mapping class="entity.Region" />
    </session-factory>
</hibernate-configuration>